body {
    font-family: sans-serif;
    background-color: rgba(24, 147, 147, 0.3);
}

.heading {
    padding: 25px;
    margin: auto 45px;
}

.name {
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.navbar {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    padding: 0px 15px;
    float: right;
}

.aboutme {
    margin: 45px auto;
    height: 300px;
    width: 95%;
}

.aboutme img {
    width: 270px;
    display: block;
    margin: 35px auto auto auto;
    position: absolute;
}

.aboutme div {
    display: block;
    float: left;
    font-size: 20px;
}

.aboutme p {
    position: absolute;
    margin: 24px 400px auto 400px;
    line-height: 1.5;
}

.works {
    margin: 45px auto;
    height: 350px;
    width: 95%;
    display: flex;
}

.works div {
    font-size: 20px;
    width: 200px;
}

.main {
    font-weight: bolder;
    font-size: larger;
    width: 150px;
    float: left;
}

.projectslist {
    line-height: 1.5;
    width: 150px;
}

.minor {
    width: 150px;
    float: left;
}

.mainimg {
    width: 450px;
    display: inline;
}

.minorimg {
    width: 250px;
}

.imgcontainer1 {
    width: 700px;
    height: 350px;
    margin-right: 1%;
}

.imgcontainer2 {
    width: 700px;
    height: 350px;
    margin-left: 2%;
}

.contact {
    margin: 25px auto;
    width: 95%;
}

.contact div {
    font-size: 20px;
    float: left;
}

.contactinfo div {
    display: inline;
    margin: auto 100px;
    padding: auto 50px;
}

@media screen and (max-width: 1700px) {
    .contactinfo div {
        margin: auto 10px;
        padding: auto 5px;
    }
    .aboutme p {
        position: absolute;
        margin: 24px 200px auto 300px;
        line-height: 1.5;
    }
    .minorimg {
        width: 150px;
    }
    .imgcontainer1 {
        height: 150px;
        display: inline;
    }
    .imgcontainer2 {
        height: 150px;
        display: inline;
    }
    .works {
        display: inline;
    }
    .navbar {
        display: inline;
        float: left;
    }
}

@media screen and (max-width: 1000px) {
    .aboutme p {
        line-height: 1;
        font-size: 14px;
        margin-right: auto;
    }
}